p,ul,ol,a,div,input[class='submitBtn']
{
    font-size: large;
}

body
{
    font-family: arial;
    font-size: 15px;
    line-height: 1.6em;
}

.m{
    color: gold;
    font-size: 60px;
 }
 
 .b{
    color: silver;
    font-size: 60px;
 }
 
 .tm{
    color: white;
    font-size: 50px;
 }
 
 .logo{
    background-color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
 }

.container
{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

@media only screen and (max-width:960px)
{
    .container
    {
        width: 80%;
    }
}

.heading
{
    border-bottom: 3px #c1c1c1 solid;
    
}

footer
{
    border-top: 3px #c1c1c1 solid;
    text-align: center;
    padding-top: 5px;
}

.login-box{
    padding-left: 5%;
    margin-left: 34%;
    width: 290px;
    border: solid #c1c1c1;
    border-radius: 5rem 0rem;
    
}

.signup-box{
    padding-left: 7%;
    margin-left: 32%;
    width: 360px;
    border: solid #c1c1c1;
    border-radius: 5rem 0rem;
}

.signuperror
{
    color: red;
    font-size: x-large;
}

.signupsuccess
{ 
    color: limegreen;
    font-size: x-large;
}

.lrbtn
{
    color: white;
    background-color: rgba(18, 196, 18, 0.692);
    border: solid thin #aaa;
    text-decoration: none;
    padding: 1%;
    border-radius: 25%;
}

.un{
    font-size: 19px;
}

.pw{
    font-size: 19px;
}

.login-signupbutton{
    border: none;
    background-color: black;
    color: #c1c1c1;
    height: 33px;
    width: 41%;
    font-size: 19px;
    margin-bottom: 20px;
    border-radius: 2rem;
}

.logoutbutton
{
    margin-top: 5%;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 19px;
}

.homebtn
{
    text-decoration:none;
    font-size:xx-large;
    margin-left:20px; 
    color:gold; 
    background-color:black; 
    padding:1%; 
    border-radius: 20px;
}

.homebtn:hover
{
    background-color:gold;
    color:black;
}

.header-signup
{   
    text-decoration: none;
    background-color: #c1c1c1;
    color: black;
    padding: 6px 61px;
    font-size: 19px;
    border-radius: 2rem;
}

.login-redirect
{   
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 61px;
    font-size: 19px;
}

.login-status
{  
    font-size: x-large;  
    width: 30%;
    margin-left: 34%;
    text-align: center;
    background-color: #c1c1c1;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50%;
}

/* footer styling */
.page_footer{
    position: relative;/* this doesn't seem to do anything */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    margin-top: 5%;
}
/* end of footer styling */
